{{define "title"}}
<title>About | Geison Biazus</title>
{{end}}

{{define "content"}}
<h1 class="mb-4">About this blog</h1>

<p>
  Hello! My name is Geison and I am a software engineer.
</p>

<p>
  This is my personal blog where I post about things I learn and things I think people could benefit from learning.
</p>

<p>
  My favorite topics are:
</p>

<ul>
  <li>Test-driven development</li>
  <li>Software Architecture (Clean, Hexagonal, DDD, CQRS/Event Sourcing)</li>
  <li>SOLID</li>
  <li>Design Patterns</li>
</ul>

<p>
  This blog is open source and the code can be found on
  <a target="_blank" href="https://github.com/geisonbiazus/blog">Github</a>.
</p>
{{end}}