{{define "head"}}
<meta property="og:url" content="{{urlFor .Path}}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{.Title}}" />
<meta property="og:description" content="{{.Description}}" />
<meta property="og:image" content="{{urlFor .ImagePath}}" />
{{end}}

{{define "content"}}
<h1 class="mb-0">{{ .Title }}</h1>
<span class="fs-6 text-muted">{{ .Date }} - </span>
<span class="fs-6 text-muted fst-italic">{{ .Author }}</span><br>


<style>
  .social-media-share {
    display: inline-block;
  }
</style>

<div id="social-media-buttons">
  <div id="facebook-share" class="social-media-share">
    <div class="fb-share-button" data-href="https://www.your-domain.com/your-page.html" data-layout="button_count">
    </div>
  </div>

  <div id="twitter-share" class="social-media-share">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
      data-show-count="false">Tweet</a>
  </div>

  <div id="linkedin-share" class="social-media-share">
    <script type="IN/Share" data-url="{{urlFor .Path}}"></script>
  </div>

</div>


<div class="mt-3" id="post-content">
  {{.Content}}
</div>
{{end}}